<ContentView height="100%" width="100%">
    <Mapbox
        accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
        mapStyle="traffic_day"
        latitude="37.7397"
        longitude="-121.4252"
        hideCompass="true"
        zoomLevel="12"
        showUserLocation="false"
        disableZoom="false"
        disableRotation="false"
        disableScroll="false"
        disableTilt="false"
        (mapReady)="onMapReady($event)">
    </Mapbox>
</ContentView>